.level-error {
    font-weight: bold;
    color: red;
}

.level-warn {
    font-weight: bold;
    color: yellow;
}

.level-info {
    color: green;
}

.level-debug {
    color: blue;
}

.timestamp {
    white-space: nowrap
}