body {
    font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 62.5%;
    background: black;
    color: white;

}

#topright {
    position:absolute;
    top:0;
    right:0;
    width:40%;
}

#topright div {
    white-space: nowrap;
    text-align: right;
    font-size: 0.5em;
    width: 100%;
}

.clock {
    font-size: 2em;
}

.rail table {
    font-size: 6em;
}

.metrorail .dest {
    font-size: 0.7em;
    white-space: nowrap;
}

.rail table td:not(:first-child) {
    padding-left: 0.8em;
}

.rail td:not(:last-child) {
    padding-right: 0.8em;
}

.rail thead tr td:last-child {
    padding-right: 0.5em;
}

.metrorail .lnbox {
    float: left;
    padding-top: 0.25em;
    padding-right: 0.25em;
    font-size: 4.5em;
}

.rail .ic {
    position: fixed;
    bottom: 1em;
    width: 100%;       
}

.rail .incidents {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    position: relative;
    overflow: hidden;
    height: 6em;
}

.rail .incidents li {
    position: absolute;
    top: -999em;
    left: 0;
    display: block;
    white-space: nowrap;
    padding-top: 0.25em;
    font-size: 4.5em;
}

.metrorail .incidents li .lines {
    display: none;
}

.flash {
    color: red;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fader;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-duration: 2s;
    -moz-animation-name: fader;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

}
  
@-webkit-keyframes fader {
    from {
        opacity: 1.0
    }
    
    70% {
        opacity: 1.0
    }

    to {
        opacity: 0.6
    }
}

@-moz-keyframes fader {
    from {
        opacity: 1.0
    }
    
    70% {
        opacity: 1.0
    }

    to {
        opacity: 0.6
    }
}

.GR {
    color: #009D57;
}

.RD {
    color: #E94333;
}

.BL {
    color: #0D7BBA;
}

.OR {
    color: #F89038;
}

.YL {
    color: #FDE310;
}

#header {
    padding-bottom: 0.5em;
    font-size: 6em;

}

#icons {
    top: 0em;
    float:left;
    position:fixed;
    left: 50%;
}

#header img {
    position: relative;
    left: -50%;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#header img {
    height: 0.5em;
    vertical-align:middle;
}

#header img.active {
    height: 1.0em;
}

.bus {
    width: 100%;
}

.bus .busprediction {
    font-size: 2.2em;
    width: 50%;
    float: left;
}

.bus .busprediction .route {
    font-size: 1.6em;
}

.bus .busprediction div {
    width: 80%;
    margin-bottom: 0.5em;
}

.bus .busprediction .minutes {
    width: 20%;
    text-align: center;
    font-size: 3.6em;
    line-height: 1em;
    float: right;
}

.bus .credit {
    font-size: 2em;
    text-align: center;
    clear: both;
}


.bikeshare .station .name {
    font-size: 1.5em;
    line-height: 1.2em;
}

.bikeshare .station {
    font-size: 4em;
    margin-bottom: 1em;
}

.cta .Red {
    color: #C60C30;
}

.cta .Blue {
    color: #00A1DE;
}

.cta .Brn {
    color: #62361B;
}

.cta .G {
    color: #009B3A;
}

.cta .Org {
    color: #F9461C;
}

.cta .P {
    color: #522398;
}

.cta .Pink {
    color: #E27EA6;
}

.cta .Y {
    color: #F9E300;
}