{namespace cabiTemplate}

/**
 * Render the Capital Bikeshare status container.
 * @param stations CaBi stations
 */
{template .main}
{foreach $station in $stations}
<div class="station">
<div class="name">{$station.name}</div>
{if $station.installed == 'true' and $station.locked == 'false'}
Bikes available: {$station.nbBikes}<br>
Docks available: {$station.nbEmptyDocks}
{else}
Station unavailable.
{/if}
</div>
{/foreach}
{/template}